*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: rgb(34, 32, 32);
}
/* From Uiverse.io by alexruix */ 
.card {
  width: 190px;
  height: 250px;
  padding: 0.8em;
  background: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
  border-radius: 12px; /* Rounded corners */
  backdrop-filter: blur(10px); /* Blur effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Slight shadow */
  color: #fff; /* Text color for better contrast */
  overflow: hidden; /* Ensure content fits inside rounded corners */
  position: relative;
  object-fit: contain;
  object-position: center;
}

 
 .card-img {
  background-color: #ffcaa6;
  height: 40%;
  width: 100%;
  border-radius: .5rem;
  transition: .3s ease;
 }
 
 .card-info {
  padding-top: 3%;
 }
 
 svg {
  width: 20px;
  height: 20px;
 }
 
 .card-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #ddd;
 }
 .buy{
  border: none;
  background-color: rgb(192, 9, 25);
  width: 100%;
  color: white;
  font-weight: 600;
  margin-top: 10px;
  border-radius: 5px;
 }
 
 /*Text*/
 .text-title {
  font-weight: 900;
  font-size: 1.2em;
  line-height: 1.5;
 }
 
 .text-body {
  font-size: .9em;
  color: white !important;
 }
 
 /*Button*/
 .card-button {
  border: 1px solid #252525;
  display: flex;
  padding: .3em;
  cursor: pointer;
  border-radius: 50px;
  transition: .3s ease-in-out;
 }
 
 /*Hover*/
 .card-img:hover {
  transform: scale(1.1);
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
 }
 
 .card-button:hover {
  border: 1px solid #ffcaa6;
  background-color: #ffcaa6;
 }
 




 .banner {
  position: relative;
  width: 100%;
  height: 400px;
  background: url('../public//assets/pexels-shameel-mukkath-3421394-6089654.jpg') no-repeat center center/cover;
}

.banner-text {
  position: absolute;
  top: 35%;
  left: 25%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  padding: 1em;
  background: rgba(0, 0, 0, 0.5);
  width: 40%;
  border-radius: 8px;
}
